.transaction-wrapper {
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  border: 1px solid $border;
  border-bottom: none;
}


table.table {
  tr {
    td.cta {
      padding: 0;

      button.button {
        opacity: 0;
      }
    }
  }
  .unfamiliar {
    td.cta {
      button.button {
        opacity: 1;
        width: 100%;
        height: 30px;
        border: 0;
        &:hover {
          background: $danger;
          color: $danger-invert;
        }
        i.fa {
          font-size: 10px;
        }
      }
    }
  }

  td.description {
    @include mobile {
      max-width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }

  .transaction {
    font-family: "Courier New";
  }

  .transaction-amount {
    padding-right: 16px;
    &:after {
      transform: translate(4px, 4px);
      @extend .fa;
      content: $fa-var-chevron-down;
      position: absolute;
      color: $warning;
      font-size: 10px;
      height: 100%;
    }
  }

  tr.debit {
    .transaction-amount {
      &:after {
        content: $fa-var-chevron-down;
        color: $warning;
      }
    }
  }

  tr.credit {
    .transaction-amount {
      &:after {
        content: $fa-var-chevron-up;
        color: $success;
      }
    }
  }

}

th.has-text-right {
  text-align: right !important;
}
