.main-title {
  @extend .title;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background: $info;
  color: $success-invert;
  padding: .5em;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}

.home-container {
  padding: 7px 0 0;
  .title {
    padding-left: 8px;
  }
  section {
    padding-top: 10px;
  }
}

.figures td {
  text-align: center;
}

