.home-container {
  padding: 20px;
}

.figures td {
  text-align: center;
}

h2 {
  font-size: large;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  background: #3AB162;
}
