.nav-item {
  &.is-active {
    position: relative;
    @include mobile {
      &:before {
        display: none
      }
      box-shadow: inset 3px 0 0 rgba(0,0,0,.3)
    }
    &:before {
      left: 0;
      right: 0;
      bottom: -7px;
      position: absolute;
      content: $fa-var-caret-up;
      @extend .fa;
      font-size: $size-4;
      color: $grey-lightest;
      box-sizing: border-box;
    }
  }
}
.page-header {
  .hero {
    background-color: $grey-dark;
    padding: $size-7;
    font-size: $size-large;
    line-height: 1;
    align-content: flex-start;
    display: block;
    a {
      color: $white;
    }
    .container {
      @include mobile {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        max-width: $mobile-content-width;
        margin: 0 auto;
      }
    }
  }
  .menu-container {
    @include tablet {
      position: relative;
      .menu {
        margin-top: 0
      }
    }
    &:hover .menu {
      display: block;
    }
    .menu {
      display: none;
      right: 0;
      top: 0;
      margin-top: 40px;
      text-align: left;
      position: absolute;
      background: darken($primary, 5%);
      box-shadow: 1px 1px 1px rgba(0,0,0,.3);
      border-top: 0;
      &:hover {
        background: $primary;
      }
      a {
        color: $grey-lightest;
        &:hover {
          background: darken($primary, 5%);;
          color: $white;
        }
      }
    }
  }

  .nav-menu {
    @include mobile {
      display: none
    }
  }

  @include mobile {
    .nav-toggle.is-active + .nav-menu.nav-left {
      display: block;
      > .nav-item {
        padding-left: 1em;
      }
    }
  }
}

.nav > .container {
  @include mobile {
    max-width: $mobile-content-width;
    margin: 0 auto;
  }

  .button,
  .nav-item {
    padding: $grid-gap-width $grid-gap-width * 2;
  }

  & .svg-icon {
    margin-right: $grid-gap-width;
    margin-left: $grid-gap-width;
    height: 1.3334em;
    width: 1.3334em;
  }
}

.login-button {
  height: 100%;
  margin-left: 1em;
  @include mobile {
    flex: 0 0;
    right: 0;
    position: absolute;
    align-self: flex-end;
    .nav & .svg-icon {
      margin-right: 0;
    }
  }
}

@include mobile {
  body {
    padding-top: 116px;
    height: auto !important;
  }
  .page-header {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    .container {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      margin: 0;
    }
  }
}
